@using Guide.Models
@{
    ViewData["Title"] = "Timers";
}

<script>
    //clan war timer
    @{
        int cwTimerMinutes = 60 - DateTime.Now.Minute;
        int cwTimerHours = (24 + 19 - DateTime.Now.Hour)%24;
        int cwTimerDays = DayOfWeek.Thursday - DateTime.Now.DayOfWeek;
        if (cwTimerDays < 0 || cwTimerDays == 4) cwTimerDays = 0;
        string cwTimer = $"{cwTimerDays}:{cwTimerHours}:{cwTimerMinutes}";
    }
    var clanWarCountdownTimer = "@cwTimer";
    var clanWarCountdown = setInterval(function () {
        var cwTimer = clanWarCountdownTimer.split(':');
        var cwDays = parseInt(cwTimer[0], 10);
        var cwHours = parseInt(cwTimer[1], 10);
        var cwMinutes = parseInt(cwTimer[2], 10);
        --cwMinutes;
        cwHours = (cwMinutes < 0) ? --cwHours : cwHours;
        cwDays = (cwHours < 0) ? --cwDays : cwDays;
        cwMinutes = (cwMinutes < 0) ? 59 : cwMinutes;
        cwMinutes = (cwMinutes < 10) ? '0' + cwMinutes : cwMinutes;
        cwHours = (cwHours < 0) ? 23 : cwHours;
        if (cwDays > 0) {
            $('.cwCountdown').html(cwDays + ' days ' + cwHours + ' hours ' + cwMinutes + ' minutes');
        }
        if (cwDays == 0) {
            $('.cwCountdown').html(cwHours + ' hours ' + cwMinutes + ' minutes');
        }
        clanWarCountdownTimer = cwDays + ':' + cwHours + ':' + cwMinutes;
        if (cwDays == 0 && cwHours == 0 && cwMinutes == 0) {
            clearInterval(clanWarCountdown);
        }
    }, 60000);

    @{
        int dtTimerMinutes = 60 - DateTime.Now.Minute;
        bool isDtActive = false;
        int dtTimerHours = 0;
        if (dtTimerHours <= 0)
        {
            dtTimerHours = (11 - DateTime.Now.Hour) % 24;
            isDtActive = false;
        }
        if (dtTimerHours <= 0)
        {
            dtTimerHours = (13 - DateTime.Now.Hour) % 24;
            isDtActive = true;
        }
        if (dtTimerHours <= 0)
        {
            dtTimerHours = (15 - DateTime.Now.Hour) % 24;
            isDtActive = false;
        }
        if (dtTimerHours <= 0)
        {
            dtTimerHours = (17 - DateTime.Now.Hour) % 24;
            isDtActive = true;
        }
        if (dtTimerHours <= 0)
        {
            dtTimerHours = (20 - DateTime.Now.Hour) % 24;
            isDtActive = false;
        }
        if (dtTimerHours <= 0)
        {
            dtTimerHours = (22 - DateTime.Now.Hour) % 24;
            isDtActive = true;
        }
        if (dtTimerHours <= 0)
        {
            dtTimerHours = (35 - DateTime.Now.Hour) % 24;
            isDtActive = false;
        }
        string dtTimer = $"{dtTimerHours}:{dtTimerMinutes}";
    }
        var deadTimeCountdownTimer = "@dtTimer";
        var deadTimeCountdown = setInterval(function () {
        var dtTimer = deadTimeCountdownTimer.split(':');
        var dtHours = parseInt(dtTimer[0], 10);
        var dtMinutes = parseInt(dtTimer[1], 10);
        --dtMinutes;
        dtHours = (dtMinutes < 0) ? --dtHours : dtHours;
        dtMinutes = (dtMinutes < 0) ? 59 : dtMinutes;
        dtMinutes = (dtMinutes < 10) ? '0' + dtMinutes : dtMinutes;
        dtHours = (dtHours < 0) ? 23 : dtHours;
        $('.dtCountdown').html(dtHours + ' hours ' + dtMinutes + ' minutes ');
        deadTimeCountdownTimer = dtHours + ':' + dtMinutes;
        if (dtHours == 0 && dtMinutes == 0) {
            clearInterval(deadTimeCountdown);
        }
    }, 60000);
</script>

<div class="text-center">
    <p>
        <h3>Time untill Clan War starts</h3>
        @if (cwTimerDays > 0)
        {
            <div class="cwCountdown">@cwTimerDays days @cwTimerHours hours @cwTimerMinutes minutes</div>
        }
        else
        {
            <div class="cwCountdown">@cwTimerHours hours @cwTimerMinutes minutes</div>
        }
    </p>

    <p>
        @{
            string dtMessage = "Time untill Dead Time";
            if (isDtActive) dtMessage += " closes";
            else dtMessage += " opens";
        }
        <h3>@dtMessage</h3>
        <div class="dtCountdown">@dtTimerHours hours @dtTimerMinutes minutes</div>
    </p>
</div>
