html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.text-center {
    background: rgb(20, 20, 20);
    color: rgb(155, 155, 155);
}

body {
    margin-bottom: 60px;
    background: rgb(20, 20, 20);
    color: rgb(155, 155, 155);
}

.view-50 {
    width: 30%;
    margin-left: 50px;
    margin-right: 50px;
}

.sticky {
    position: sticky;
}

.navbar-layout {
    padding: 15px;
    background: rgb(70, 70, 100);
    color: rgb(155, 155, 155);
    font: 700 18px system-ui;
    outline: 2px solid rgb(20, 20, 20);
    outline-offset: -1px;
}

.nav-link {
    outline: none;
}

/* Database View */

.sidebar-button {
    position: relative;
    left: 1px;
    width: 196px;
    height: 50px;
    text-align: center;
    padding: inherit;
    border: none;
    color: inherit;
    background: url(button.png) no-repeat;
    margin-bottom: 2px;
}

.sidebar-button:hover {
    background: url(button-hover.png) no-repeat;
}

.sidebar-container {
    float: left;
    height: 100vh;
    width: 200px;
    color: rgb(155, 155, 155);
    background: rgb(35, 35, 35);
    outline: 2px solid rgb(20, 20, 20);
    outline-offset: -1px;
    padding: 2px;
    z-index: 3;
}

.second-sidebar {
    width: 0;
    outline: none;
    z-index: 2;
    color: white;
    padding: 0;
    position: relative;
    left: -2000px;
}

/* Artefact Builder View */

.infection {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 10%;
    right: 65%;
    max-width: 100vw;
    max-height: 100vh;
    background: url(infections/bio.png) no-repeat;
    background-size: 100%;
}

.container-container {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 10%;
    right: 65%;
    max-width: 100vw;
    max-height: 100vh;
    background: url(https://github.com/EXBO-Studio/stalcraft-database/blob/main/global/icons/containers/g35n.png?raw=true) no-repeat;
    background-size: 100%;
    z-index: 2;
}
