html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  margi
}

body {
    margin-bottom: 60px;
}

.view-50 {
    width: 30%;
    margin-left: 50px;
    margin-right: 50px;
}

.sticky {
    position: sticky;
}

.navbar-layout {
    padding: 15px;
    background: rgb(20, 20, 20);
    color: rgb(155, 155, 155);
}

/* Database View */

.sidebar-button {
    position: relative;
    left: 1px;
    width: calc(100% - 2px);
    height: 50px;
    text-align: center;
    padding: inherit;
    border: none;
    color: inherit;
    background: rgb(20, 20, 20);
    outline: inherit;
}

.button-background {
    background: url(/image/btn.png) no-repeat;
}

.sidebar-container {
    float: left;
    height: 100vh;
    width: 200px;
    color: rgb(155, 155, 155);
    background: rgb(35, 35, 35);
    outline: 2px solid black;
    outline-offset: -1px;
    padding: 10px;
    z-index: 3;
}

.second-sidebar {
    width: 0;
    outline: none;
    z-index: 2;
    color: white;
    padding: 0;
}