<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SOFA Guide</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Guide.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <header class="sticky navbar-layout" style="top: 0;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link navbar-layout" asp-area="" asp-controller="Guide" asp-action="Index">Guide</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-layout" asp-area="" asp-controller="Market" asp-action="Index">Market</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-layout" asp-area="" asp-controller="Database" asp-action="Index">Database</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-layout" asp-area="" asp-controller="Barter" asp-action="Index">Barter Tree</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-layout" asp-area="" asp-controller="Artefact" asp-action="Index">Artefact Builder</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-layout" asp-area="" asp-controller="Map" asp-action="Index">Map</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-layout" asp-area="" asp-controller="Quest" asp-action="Index">Quest Tree</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-layout" asp-area="" asp-controller="Timer" asp-action="Index">Timers</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        <role="main" class="pb-3">
            @RenderBody()
        </main>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Guide - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
