@{
    ViewData["Title"] = "Database";
}

<div class="text-center">
    <p>
        > objects
    </p>
    <p>
        > compare items
    </p>
    <p>
        > math for upgrades
    </p>
    <p>
        > average cost to upgrade
    </p>
    <p>
        > search/sort by stat
    </p>
</div>
