@using Guide.Models
@using System.Net
@using Guide.Models.ViewModels;
@model ItemViewModel

@{
    ViewData["Title"] = "Database";
}

@{
    <img src="@Model.Item.ImgSource" />
    <h1>Id: @Model.Item.Id</h1>
    <h3>@Model.Item.Name</h3>
}