@using Guide.Models.DatabaseModels
@using System.Net
@using Guide.Models.ViewModels;
@model CompareViewModel

@{
    ViewData["Title"] = "Compare";
}

@foreach(Item item in Model.Items){
    <p>item.Name</p>
}