@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <p>
        https://docs.google.com/document/d/1p1tKb18ExtAG11yU_F518l4zaC_us3fNg7MFRqp_G0I/edit
    </p>
    <p>
        More FPS
    </p>
    <p>
        Combat
    </p>
    <p>
        Artifacts
    </p>
    <p>
        Weapons / Armors to go for
    </p>
    <p>
        Misc tips
    </p>
</div>